
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="about_bg_area">
        <div class="container">
            <!--about section area -->
            <section class="about_section mb-60">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div>
                            <div class="about_thumb">
                                <img src="/assets/home/img/about/about1.jpg" alt="">
                            </div>
                            <div class="about_content">
                                <h1>FastFood24h là chuỗi nhà hàng thức ăn nhanh trực thuộc tập đoàn FastFood – một trong năm tập đoàn lớn nhất Hàn Quốc. </h1>
                                <p>Suốt 7 năm liền đứng vị trí số 1 về “Brand Power”, được cấp bởi “ Korea Management Association”, và được chọn là vị trí số 1 về năng lực cạnh tranh thương hiệu với danh hiệu “Brand Stock” của cơ quan đánh giá giá trị thương hiệu.</p>
                                <p>Trong suốt thời gian qua, FastFood24h đã nỗ lực không ngừng để cung cấp cho khách hàng các dịch vụ chu đáo, ân cần và không ngừng nghiên cứu để phát triển nền văn hóa ẩm thực tốt cho sức khoẻ. Hơn nữa, để đảm bảo vệ sinh, an toàn thực phẩm và bảo vệ môi trường, FastFood24h tự hào đạt được các chứng nhận quốc tế như:</p>
                                <ul>
                                    <li>
                                        An toàn thực phẩm (RVA HACCP)
                                    </li>
                                    <li>
                                        Vệ sinh môi trường (ISO 14001)
                                        
                                    </li>
                                    <li>Chất lượng sản phẩm (ISO 9001)</li>
                                </ul>
                                <p>FastFood24h có mặt tại thị trường Việt Nam từ năm 1998. Hiện nay, mang tầm vóc của doanh nghiệp quốc tế, FastFood24h đang dẫn đầu ngành công nghiệp ăn uống quốc nội với hơn 210 nhà hàng tại hơn 30 tỉnh/thành trên cả nước. Đây là kết quả của những nỗ lực không ngừng mà FastFood24h đạt được.</p>
                                <div class="about_signature">
                                    <img src="/assets/home/img/about/logo.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--about section end-->
            <!--chose us area start-->
            @*<div class="choseus_area"  data-bgimg="/assets/home/img/about/about-us-policy-bg.jpg">
                <div class="row"  style="color:aliceblue">
                    <div class="col-lg-4 col-md-4" >
                        <div class="single_chose">
                            <div class="chose_icone">
                                <img src="/assets/home/img/about/About_icon1.png" alt=""  style="background-color: aliceblue">
                            </div>
                            <div class="chose_content">
                                <h3>Creative Design</h3>
                                <p >Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single_chose">
                            <div class="chose_icone">
                                <img src="/assets/home/img/about/About_icon2.png" alt=""  style="background-color: aliceblue">
                            </div>
                            <div class="chose_content">
                                <h3>100% Money Back Guarantee</h3>
                                <p>Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="single_chose">
                            <div class="chose_icone">
                                <img src="/assets/home/img/about/About_icon3.png" alt=""  style="background-color: aliceblue">
                            </div>
                            <div class="chose_content">
                                <h3>Online Support 24/7</h3>
                                <p>Erat metus sodales eget dolor consectetuer, porta ut purus at et alias, nulla ornare velit amet</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            <!--chose us area end-->
            <!--services img area-->
            <div class="about_gallery_section mb-55">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img src="/assets/home/img/about/about2.jpg" alt="" >
                                </div>
                                <figcaption class="about_gallery_content">
                                    <h3>What do we do?</h3>
                                    <p>KFC chuyên về các sản phẩm gà rán và nướng, với các món ăn kèm theo và các loại sandwiches chế biến từ thịt gà tươi. Hiện nay đang có hơn 20.000 nhà hàng KFC tại 109 quốc gia và vùng lãnh thổ trên toàn thế giới.</p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img src="/assets/home/img/about/about3.jpg" alt="">
                                </div>
                                <figcaption class="about_gallery_content">
                                    <h3>Our Mission</h3>
                                    <p>
                                        KFC chuyên về các sản phẩm gà rán và nướng, với các món ăn kèm theo và các loại sandwiches chế biến từ thịt gà tươi. Hiện nay đang có hơn 20.000 nhà hàng KFC tại 109 quốc gia và vùng lãnh thổ trên toàn thế giới.

                                        KFC nổi tiếng thế giới với công thức chế biến gà rán truyền thống Original Recipe, được tạo bởi cùng một công thức pha trộn bí mật 11 loại thảo mộc và gia vị khác nhau do Đại tá Harland Sanders hoàn thiện hơn nửa thế kỷ trước.
                                    </p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <article class="single_gallery_section">
                            <figure>
                                <div class="gallery_thumb">
                                    <img src="/assets/home/img/about/about4.jpg" alt="">
                                </div>
                                <figcaption class="about_gallery_content">
                                    <h3>History Of Us</h3>
                                    <p>
                                        Năm 1997, KFC đã khai trương nhà hàng đầu tiên tại Thành phố Hồ Chí Minh. Đến nay, hệ thống các nhà hàng của KFC đã phát triển tới hơn 140 nhà hàng, có mặt tại hơn 32 tỉnh/thành phố lớn trên cả nước, sử dụng hơn 3.000 lao động đồng thời cũng tạo thêm nhiều việc làm trong ngành công nghiệp bổ trợ tại Việt Nam.
                                    </p>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
            <!--services img end-->
            <!--testimonial area start-->
            <div class="faq-client-say-area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="section_title">
                            <h2>Chúng tôi có thể làm gì ?</h2>
                        </div>
                        <div class="faq-style-wrap" id="faq-five">
                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a id="octagon" class="collapsed" role="button" data-bs-toggle="collapse" href="#faq-collapse1" aria-expanded="true" aria-controls="faq-collapse1"> <span class="button-faq"></span>Giao hàng hỏa tốc</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse1" class="collapse show" aria-expanded="true" role="tabpanel" data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>Khi bạn đặt hàng từ chúng tôi, chúng tôi mong muốn mang đến cho bạn trải nghiệm giao hàng tốt nhất có thể. Chúng tôi cung cấp các tùy chọn giao hàng linh hoạt và dịch vụ hỏa tốc cho những trường hợp bạn cần một món hàng gấp. </p>
                                        <p>
                                            Không phải tất cả các mặt hàng đều có dịch vụ giao hàng giống nhau do kích thước và trọng lượng nhưng các tùy chọn giao hàng được cung cấp cho bạn khi đặt hàng.
                                        </p>
                                        <p>  Chúng tôi cũng cho phép bạn kiểm soát việc giao hàng của mình bằng cách chọn ngày giao hàng của riêng bạn.</p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->
                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" href="#faq-collapse2" aria-expanded="false" aria-controls="faq-collapse2"> <span class="button-faq"></span>Hơn 30 năm kinh nghiệm</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse2" class="collapse" aria-expanded="false" role="tabpanel" data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>Sau hơn 30 năm kinh doanh, chúng tôi được tin cậy là cửa hàng thức ăn nhanh đảm bảo tiêu chuẩn vệ sinh an toàn thực phẩm - bất cứ điều gì khiến bạn không hài lòng, chúng tôi sẽ khắc phục một cách hoản hảo nhất.</p>
                                        <p>
                                            FastFood luôn ấp ủ trở thành thương hiệu thức ăn nhanh mang đến những món ăn ngon với hương vị phù hợp cho người Việt bên cạnh mục tiêu tạo ra một địa điểm ẩm thực góp phần gắn kết gia đình Việt qua bữa ăn ngon.
                                        </p>
                                        <p> FastFood không đơn thuần phục vụ những món thức ăn nhanh chất lượng theo quy trình được kiểm duyệt nghiêm khắc, mà còn mang đến cho mọi người không gian ấm áp, sang trọng để ai cũng được thưởng thức ẩm thực vui vẻ, thoải mái nhất bên gia đình và bè bạn.</p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->
                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" href="#faq-collapse3" aria-expanded="false" aria-controls="faq-collapse3"> <span class="button-faq"></span>Câu chuyện thương hiệu</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse3" class="collapse" role="tabpanel" data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>
                                            Trong suốt thời gian qua, FastFood đã nỗ lực không ngừng để cung cấp cho khách hàng các dịch vụ chu đáo, ân cần và không ngừng nghiên cứu để phát triển nền văn hóa ẩm thực tốt cho sức khoẻ. Hơn nữa, để đảm bảo vệ sinh, an toàn thực phẩm và bảo vệ môi trường, FastFood tự hào đạt được các chứng nhận quốc tế như:


                                        </p>
                                        <p>
                                            - An toàn thực phẩm (RVA HACCP)
                                            <br />
                                            - Vệ sinh môi trường (ISO 14001)
                                            <br />
                                            - Chất lượng sản phẩm (ISO 9001)
                                            <br />
                                        </p>
                                        <p> FastFood có mặt tại thị trường Việt Nam từ năm 1990. Hiện nay, mang tầm vóc của doanh nghiệp quốc tế, Lotteria đang dẫn đầu ngành công nghiệp ăn uống quốc nội với hơn 210 nhà hàng tại hơn 30 tỉnh/thành trên cả nước. Đây là kết quả của những nỗ lực không ngừng mà FastFood đạt được.</p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->
                            <!-- Panel-default -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" href="#faq-collapse4" aria-expanded="false" aria-controls="faq-collapse4"> <span class="button-faq"></span>Châm ngôn của chúng tôi</a>
                                    </h5>
                                </div>
                                <div id="faq-collapse4" class="collapse" role="tabpanel" data-parent="#faq-five">
                                    <div class="panel-body">
                                        <p>
                                            
                                            Luôn cung cấp chất lượng sản phẩm tốt nhất
                                        </p>
                                        <p>
                                            Tươi cười mang cảm giác thân thiện cho khách hàng.
                                            <br />
                                            Đặt tiêu chí vệ sinh trong cửa hàng lên hàng đầu
                                        </p>
                                        <p> Phục vụ nhanh, hạn chế thời gian chờ lâu.</p>
                                    </div>
                                </div>
                            </div>
                            <!--// Panel-default -->
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="testimonials-area">
                            <div class="section_title">
                                <h2>Đánh giá từ khách hàng</h2>
                            </div>
                            <div class="testimonial-two owl-carousel">
                                <div class="testimonial-wrap-two text-center">
                                    <div class="quote-container">
                                        <div class="quote-image">
                                            <img src="/assets/home/img/about/testimonial1.jpg" alt="">
                                        </div>
                                        <div class="testimonials-text">
                                            <p>Chi nhánh Aeon Bình Tân Em đã ghé đây nhiều lần, những nhân viên trước đó rất tốt và thái độ lịch sự</p>
                                        </div>
                                        <div class="author">
                                            <h6>Anh Thy</h6>
                                            <p>Khách hàng</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="testimonial-wrap-two text-center">
                                    <div class="quote-container">
                                        <div class="quote-image">
                                            <img src="/assets/home/img/about/testimonial2.jpg" alt="">
                                        </div>
                                        <div class="testimonials-text">
                                            <p>Con gà tươi và nóng. Các bàn ăn trong phòng sạch sẽ hợp lý. Đó là một chút đông đúc và ồn ào nhưng rất thân thiện.</p>
                                        </div>
                                        <div class="author">
                                            <h6>Huy Hoàng</h6>
                                            <p>Khách hàng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-wrap-two text-center">
                                    <div class="quote-container">
                                        <div class="quote-image">
                                            <img src="/assets/home/img/about/testimonial3.jpg" alt="">
                                        </div>
                                        <div class="testimonials-text">
                                            <p>Support and response has been amazing, helping me with several issues I came across and got them solved almost the same day. A pleasure to work with them!</p>
                                        </div>
                                        <div class="author">
                                            <h6>Kathy Young</h6>
                                            <p>CEO of SunPark</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--testimonial area end-->
        </div>
    </div>


